# Python
__pycache__/
*.py[cod]
*$py.class
.env
.env.local
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
*.db
*.sqlite3

# Node
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Project Specific (Sensitive)
config.json
profiles.json
backend/config.json
backend/profiles.json
backend/db.sqlite3

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
